.cover-text{
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    bottom: 0;
    left: 0;
    margin: auto;
    top: 0;
    background: rgba(247,247,247,0.7);
    width: 350px;
    height: -moz-fit-content;
    height: fit-content;
}

.cover-text .heading-text{
    margin:0;
    text-align: center;
    font-size: 1.9rem;
    padding: 20px 20px 5px 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.cover-text .para-text{
    text-align: center;
    font-size: 17px;
    padding: 0 20px 20px 20px;
    font-family: 'PT Sans', sans-serif;
}