#search-card{
    text-align: center;
    width:70vw;
    height:fit-content;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
    margin: 50px auto;
    padding:50px;
    background: #f7f7f7;
}

#search-card .search-card-title{
    margin-top:0;
    margin-bottom: 0;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 1.9rem;
    font-weight: 500 !important;
}

#search-card .search-card-text{
    margin-bottom: 25px;
    font-size: 1.2rem ;
}

#search-card .search-form{
    display:flex;
    justify-content: center;
    height:fit-content;
}

#search-card .search-form .search-bar{
    width:50%;
    border:1px solid #000;
    border-right: none;
    height:31px;
    font-size: 1rem;
    font-family: 'PT Sans',sans-serif;
}

#search-card .search-form .search-bar:focus{
    outline: none;
}

#search-card .search-form .search-button{
    cursor: pointer;
    padding:5px 15px 10px 15px;
    height:35px;
    border:none;
    color:white;
    background-color: rgb(74, 172, 18);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    font-size: 1.1rem;
    font-family: 'PT Sans',sans-serif;
}

#search-card .search-form .search-button:focus{
    outline: none;
}