body,html{
    font-family: 'PT Sans', sans-serif;
/* font-family: 'PT Sans Narrow', sans-serif; font-family: 'Cabin Sketch', cursive;*/
    margin:auto 0;
    padding:0;
    overflow-x:hidden;
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background: #0e6b25;       
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;  
  border-radius: 20px;     
  border: 3px solid #0e6b25;
}